* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background: #111;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  text-align: ;
}
nav .logo {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}
nav ul li {
  display: inline-block;
  margin: 0 6px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
nav .logo:hover,
nav ul li a:hover{
  color: orange;
}
.hero {
  background-image: url("people-sitting-tables-with-laptops-yellow-wall-them\ 1\ \(1\).png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 55px;
  margin-bottom: 18px;
  color: orange;
  font-weight: 800;
  text-transform: capitalize;
}
.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #ffb37a;
  font-weight: 500;
}

.hero-content a {
  text-decoration: none;
  background-color: orange;
  color: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

.hero-content a:hover {
  background-color: orange;
}

.msection {
  color: orange; 
  font-weight: 800;
  text-align: center; 
  font-size: 55px;
 text-transform: capitalize;
}

.container-fluid .row img:hover {
  transform: scale(1.08);
  opacity: 0.85;
}

footer {
  background-color: #111;
  color:orange ;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #000;
    padding: 15px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}




